{% extends 'dashboard.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Change Password</title>
</head>

<body>
  <div class="col-lg-9">
    <form action="changepassword" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="oldpassword" id="formGroupExampleInput" placeholder="Enter old password" />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="newpassword" id="newpass" placeholder="Enter new password" />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" onchange="checkpass()" id="cinfirmnewpass" placeholder="Confirm new password" />
        <p id="op" style="color: red;"></p>
      </div>
      <div>
        <button class="butn" type="reset">Cancel</button>
        <button class="butn" type="submit">Change</button>
        <span style="color: green;">{{msge}}</span>
        <span style="color: red;">{{msg4}}</span>
      </div>
    </form>
  </div>

  <script>
    function checkpass(){
      npass=document.getElementById('newpass').value
      confpass=document.getElementById('cinfirmnewpass').value
      if (npass!=confpass){
        document.getElementById('op').innerHTML='**password is not same**'
      }else{
        return true
      }
    }
  </script>
</body>

</html>
{% endblock %}